*
{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container
{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: gray;
    justify-content: center;
}
.card
{
    margin-top: 5%;
    width: 650px;
    height: 300px;
    background-color: violet;
    border-radius: 30px;
    overflow: hidden;
    display: flex;

}
.section-left
{
    width: 50%;
    height: 100%;
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .section-left .img-frame
    {
        width: 60%;
        height: 65%;
        border-radius: 50%;
        background-color: rgb(247, 189, 0);
        box-sizing: border-box;
        padding-top: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .section-left img
    {
        width: 90%;
    }

.section-right
{
    width: 50%;
    height: 100%;
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
}
.select-section
{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}
    .select-section p 
    {
        margin-left: 3% ;
    }
.input-section
{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    /* margin-bottom: 5%; */
}
    .input-section label, .select-section label
    {
        width: 25%;
        font-size: 1.2em;
        overflow: hidden;
    }
    .input-section input
    {
        height: 45%;
        width: 80%;

    }
    .input-section select
    {
        height: 58%;
        width: 80%;
    }

    .input-section .button
    {
        margin: auto;
        width: 35%;
        height: 60%;
    
    }