*
{
    margin: 0;
    padding: 0;
    
}
.footer
{
    margin: 0 auto;
    width: 1000px;
    height: 300px;
    background-color: rgb(56, 98, 126);
    padding: 40px;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.footer-box
{
    display: flex; 
    width: 100%;
    height: 200px;
}
.footer-block
{
    width: 340px;
    height: 100%;
    position: relative;

}
hr
{
    margin-top: 20px;
    border: 1px solid white;
}
li
{
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
}
ul
{
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: 20px;
}
p
{
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}
.imgbox
{
    display: flex; 
    width: 100%;
    height: 70px;
    margin-top: 60px;

}
.imgblock-facebook
{
    width: 64px;
    height: 64px;
    margin-left: 30px;
    background-image: url(img/fb_gray.png);
}
.imgblock-facebook:hover
{
    background-image: url(img/fb.png);
}
.imgblock-youtube
{
    width: 64px;
    height: 64px;
    margin-left: 30px;
    background-image: url(img/youtube_gray.png);
}
.imgblock-youtube:hover
{
    background-image: url(img/youtube.png);
}
.imgblock-insta
{
    width: 64px;
    height: 64px;
    margin-left: 30px;
    background-image: url(img/insta_gray.png);
}
.imgblock-insta:hover
{
    background-image: url(img/insta.png);
}
li:hover
{
    text-decoration: underline;
}